<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!--<meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <!--<link rel="stylesheet" href="css/mystyle.css">-->
    <!--<title>Not Found Page</title>-->
<!--</head>-->
<!--<body>-->
{% extends 'base.html' %}
{% block content %}
    <div role="main" style="background:gray">
        <section class="Error">
            <div class="error-type">404</div>
            <div class="error-issue">Page Not Found</div>
            <div class="error-button-row">
                <a class="Forum-button" href="/" type="button">
                    <span class="Button-content">Return to Home<i class="Icon"></i></span>
                </a>
            </div>
        </section>
    </div>
{% endblock content %}

