{% extends "base.html" %}
{% block header %}
    <script type="text/javascript" src="/static/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>
    <link rel="stylesheet" href="/static/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css">
    <link rel="stylesheet" href="/static/css/comment.css">
    <script type="text/javascript">
        SyntaxHighlighter.all();
        $(function () {
            var error_name = true;
            var error_captcha = true;
            var error_comment = true;
            $('#nickname').blur(function () {
                if ($(this).val() == '') {
                    $(this).next().html("用户名不能为空");
                    error_name = true;
                } else {
                    error_name = false;
                    $(this).next().html("");
                }
            });
            $('#comment').blur(function () {
                if ($(this).val() == '') {
                    $(this).next().html("留言内容不能为空");
                    error_comment = true;
                } else {
                    error_comment = false;
                    $(this).next().html("");
                }
            });
            $('#captcha').blur(function () {
                var sCaptcha = $(this).val();
                if (sCaptcha == '') {
                    $('.change').next().html("验证码不能为空");
                    error_captcha = true;
                } else {
                    $.get('/verify_code/', {'captcha': sCaptcha}, function (data) {
                        if (data.sucess == 1) {
                            error_captcha = false;
{#                            $('.change').next().next().html("验证码正确")#}
                        } else {
                            error_captcha = true;
                            $('.change').next().html("验证码错误")
                        }
                    });
                }
            });
            $('.smart-green').submit(function () {
                $('#captcha').blur();
                $('#comment').blur();
                $('#nickname').blur();
                if (error_captcha || error_name || error_comment) {
                    $('.change').click();
                    return false;
                } else {
                    $('.change').click();
                    error_captcha = true;
                    return true;
                }
            });
            $('.change').click(function () {
                $('#captcha_img').prop({'src': '/captcha/?' + Math.random()})
            });
            $('#nickname').focus(function () {
                $(this).next().html('');
            });
            $('#comment').focus(function () {
                $(this).next().html('');
            });
            $('#captcha').focus(function () {
                $('.change').next().html('');
                $('.change').next().next().html('');
            });
        });
        function fnReply(c_id, r_name) {
            $('#p_id').val(c_id);
            var iScrollTop = $('#comments-write').offset().top;
            $("html,body").animate({"scrollTop":iScrollTop});
            $('#comment').val('@'+r_name+'  ');
            $('#comment').focus();
        }
        function fnComment() {
            $('#p_id').val('');
            $('#comment').val('');
            var iScrollTop = $('#comments-write').offset().top;
            $("html,body").animate({"scrollTop":iScrollTop});
            $('#comment').focus();
        }
    </script>
{% endblock header %}
{% block content %}
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article class="article-format the-font">
                    <h3 style="color:#8c3e2a;font-size: 36px;">{{ blog.title }}</h3>
                    <p>
                        <small>
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            <span>{{ blog.created }}</span>
                            <span> | </span>
                            <span> 阅读量:({{ blog.click }}) </span>
                            <span> | </span>
                            <span> 分类： <a href="/category/{{ blog.category.id }}/">{{ blog.category.name }}</a></span>
                        </small>
                    </p>
                    <div class="blog-content">
                        <div class="blog-article">
                            {{ blog.content|safe }}
                        </div>
                        <div class="blog-func">
                            <div class="blog-prev">
                                {% if prev_blog %}
                                    <p>上一篇：<a href="/blog/{{ prev_blog.id }}/">{{ prev_blog.title }}</a></p>
                                {% else %}
                                    <p>上一篇：没有了</p>
                                {% endif %}
                            </div>
                            <div class="blog-next">
                                {% if next_blog %}
                                    <p>下一篇：<a href="/blog/{{ next_blog.id }}/">{{ next_blog.title }}</a></p>
                                {% else %}
                                    <p>下一篇：没有了</p>
                                {% endif %}
                            </div>
                            <div class="blog-share">
                                <div class="bshare-custom"><a title="分享到" href="http://www.bShare.cn/"
                                                              id="bshare-shareto" class="bshare-more">分享到</a><a
                                        title="分享到微信" class="bshare-weixin">微信</a><a title="分享到QQ空间"
                                                                                     class="bshare-qzone">QQ空间</a><a
                                        title="分享到新浪微博" class="bshare-sinaminiblog">新浪微博</a><a title="分享到QQ好友"
                                                                                               class="bshare-qqim">QQ好友</a><a
                                        title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span
                                        class="BSHARE_COUNT bshare-share-count">0</span></div>
                                <script type="text/javascript" charset="utf-8"
                                        src="http://static.bshare.cn/b/button.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
                                <a class="bshareDiv" onclick="javascript:return false;"></a>
                                <script type="text/javascript" charset="utf-8"
                                        src="http://static.bshare.cn/b/bshareC0.js"></script>
                            </div>
                        </div>
                    </div>
                    <div style="border-top:1px solid #EBEBEB;padding:10px 5px;margin-top:20px;">
                        <p class="tags">
                            <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;
                            {% for tag in blog.tags.all %}
                                <a href="/tags/{{ tag.id }}/"><span
                                        class="label label-default text-left">{{ tag.name }}</span></a>
                            {% endfor %}
                            <a href="/" style="float:right">
                                <button class="btn  btn-info"> 返回主页</button>
                            </a>
                        </p>
                    </div>
                </article>
                <div class="comments-eara">
                    <div class="comments-show">
                        <h1>评论 <span>(<a href="javascript:fnComment();">留言</a>)</span></h1>
                        {% if comment_list|length_is:0 %}
                            <div class="comment-null">
                                <p>当前没有评论，请留下您的建议～</p>
                            </div>
                        {% else %}
                            {% for comment in comment_list %}
                            <div class="row" id="commentid-{{ comment.comment.id }}">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                                    <img style="width: 100%;" src="/media/{{ comment.comment.head_img }}"
                                         alt="{{ comment.comment.name }}">
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                                    <div class="comment-title">
                                        <span><a href="{{ comment.comment.link }}">{{ comment.comment.name }}</a></span>
                                        <span>{{ comment.comment.created }}</span>
                                        <span><a href="javascript:fnReply({{ comment.comment.id }},'{{ comment.comment.name }}');">回复</a></span>
                                    </div>
                                    <div class="comment-one">
                                        <div>{{ comment.comment.content }}</div>
                                    </div>
                                </div>
                            </div>
                            {% for child in comment.child_list %}
                                <div class="child">
                                    <div class="row" id="commentid-{{ child.id }}">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                                            <img style="width: 100%;" src="/media/{{ child.head_img }}"
                                                 alt="{{ child.name }}">
                                        </div>
                                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                                            <div class="comment-title">
                                                <span><a href="{{ child.link }}">{{ child.name }}</a></span>
                                                <span>{{ child.created }}</span>
                                                <span><a href="javascript:fnReply({{ comment.comment.id }},'{{ child.name }}');">回复</a></span>
                                            </div>
                                            <div class="comment-one">
                                                <div>{{ child.content }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="comments-write" id="comments-write">
                        <form action="/commit_comment/" method="post" class="smart-green">
                            {% csrf_token %}
                            <h1>评论信息
                                <span>请留下你的信息.</span>
                            </h1>
                            <label>
                                <span>昵称* :</span>
                                <input id="nickname" type="text" name="nickname" class="error" placeholder="请输入您的昵称"/>
                                <div class="error-msg"></div>
                            </label>

                            <label>
                                <span>邮箱(可以为空) :</span>
                                <input id="email" type="email" value="" name="email" placeholder="请输入邮箱地址"/>
                                <div class="error-msg"></div>
                            </label>

                            <label>
                                <span>个人链接(可以为空) :</span>
                                <input id="link" type="text" value="" name="link" placeholder="请输入联系地址"/>
                                <div class="error-msg"></div>
                            </label>

                            <label>
                                <span>留言* :</span>
                                <textarea id="comment" name="comment" placeholder="请输入你的建议"></textarea>
                                <div class="error-msg"></div>
                            </label>
                            <label>
                                <span>验证码 :</span>
                                <br><br>
                            </label>
                            <input id="captcha" type="text" name="captcha" placeholder="验证码"/>
                            &nbsp;&nbsp;
                            <img src="/captcha/" alt="验证码" id="captcha_img">
                            &nbsp;
                            <span class="change"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>换一张</span>
                            <div class="error-msg"></div>
                            <div class="success-msg"></div>

                            <input type="hidden" name="b_id" value="{{ blog.id }}">
                            <input type="hidden" name="p_id" value="" id="p_id">
                            <input type="submit" class="button" value="提交"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
