{% extends "base.html" %}
    {% block header %}
        <script type="text/javascript" src="/static/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>
        <link rel="stylesheet" href="/static/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css">
        <script type="text/javascript">
            SyntaxHighlighter.all();
        </script>
    {% endblock header %}
	{% block content %}
	<hr>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<article class="article-format the-font">
					<h3 style="color:#34495E">{{ blog.title }}</h3>
						<p><small><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><span style="color:#8C8C8C;">{{ blog.created }}</span></small></p>
						<div>本博客采用创作共用版权协议, 要求署名、非商业用途和保持一致. 转载本博客文章必须也遵循署名-非商业用途-保持一致的创作共用协议</div>
                        <p>{{ blog.content|safe }}</p>
						<div style="border-top:1px solid #EBEBEB;padding:10px 5px;margin-top:20px;">
							<p class="tags">
								<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;
								{% for tag in blog.tags.all %}
                                	<a href="/tags/{{ tag.id }}"><span class="label label-default text-left"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>{{ tag.name }}</span></a>
                            	{% endfor %}
								<a href="/" style="float:right"><button class="btn  btn-primary btn-wide text-right"><span class="glyphicon glyphicon-fireglyphicon " aria-hidden="true"></span>  返回主页</button></a>
							</p>
						</div>
                    </article>
			</div>
		</div>		
	</div>
	{% endblock content %}
