{% extends "base.html" %}
{% load calculate %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to my blog</h1>
            <p>No cross, no crown</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-0 col-sm-3 col-sm-offset-0 col-xs-12">
                <div class="cate-format the-font">
                    <div class="category"><h3 style="color: #828783;"><span class="glyphicon glyphicon-tree-deciduous"
                                                                            aria-hidden="true"></span>&nbsp;分类文章</h3></div>
{#                    <hr> // style="border-top:1px solid white;">#}
                    <hr>
                    <div class="cate-li">
                        {% for category in categorys %}
                            <li{% if cid == category.id %} class="cate-active" {% endif %}><a
                                    href="/category/{{ category.id }}/">{{ category.name }}</a><span class="cate-number">{{ category.blog_set.all.count }}</span></li>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-md-offset-0 col-sm-9 col-sm-offset-0 col-xs-12">
                {% for blog in page %}
                    <article class="article-format the-font">
                        <a href="/blog/{{ blog.id }}/"><h3 style="color:#8c3e2a">{{ blog.title }}</h3></a>
                        <p>
                            <small>
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                <span>{{ blog.created }}</span>
                                <span> | </span>
                                <span> 阅读量: {{ blog.click }} </span>
                                <span> | </span>
                                <span> 分类： <a href="/category/{{ blog.category.id }}/">{{ blog.category.name }}</a></span>
                            </small>
                        </p>
                        <p>{{ blog.content|truncatewords:20|safe }}</p>
                        <div style="border-top:1px solid #EBEBEB;padding:10px 5px;margin-top:20px;">
                            <p class="tags">
                                <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;
                                {% for tag in blog.tags.all %}
                                    <a href="/tags/{{ tag.id }}/"><span class="label label-default text-left">{{ tag.name }}</span></a>
                                {% endfor %}
                                <a href="/blog/{{ blog.id }}/" style="float:right">
                                    <button class="btn btn-info"> 了解更多</button>
                                </a>
                            </p>
                        </div>
                    </article>
                {% endfor %}

                <nav aria-label="Page navigation" class="Page">
                    <ul class="pagination">
                        {% if page.has_previous %}
                            <li>
                                <a href="/{{ kind }}/?page={{ page.number|subtract }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled">
                                <span>
                                    <span aria-hidden="true">&laquo;</span>
                                </span>
                            </li>
                        {% endif %}
                        {% for index in page.paginator.page_range %}
                            {% if page.number == index %}
                                <li class="active">
                                    <span>{{ index }}<span class="sr-only">(current)</span></span>
                                </li>
                            {% else %}
                                <li><a href="/{{ kind }}/?page={{ index }}">{{ index }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page.has_next %}
                            <li>
                                <a href="/{{ kind }}/?page={{ page.number|plus }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled">
                            <span>
                                <span aria-hidden="true">&raquo;</span>
                            </span>
                            </li>
                        {% endif %}}
                    </ul>
                </nav>
            </div>


        </div>

    </div>
{% endblock content %}
