{% extends "base.html" %}
{% block content %}
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article class="article-format the-font">
                    <h1>About Me</h1>
                    <div class="profile-all">
                        <div class="profile-presonal">
                            <h3>个人资料</h3>
                            <ul>
                                <li>fanlw</li>
                                <li>1992</li>
                                <li>程序猿</li>
                                <li>简介：主要从事<code>python</code>相关工作， 喜欢交友研究技术。</li>
                                <li>email：fanlw0816@163.com</li>
                                <li>Github：<a href="https://github.com/fanlw0816">https://github.com/fanlw0816</a></li>
                                <li>Blog：http://fanliwei.top</li>
                            </ul>
                        </div>
                        <div class="profile-skills">
                            <h3>技能</h3>
                            <ul>
                                <li>语言：<code>Python</code>, <code>HTML</code>, <code>CSS</code>, <code>JQUERY</code>
                                </li>
                                <li>框架：<code>Scrapy</code>, <code>Django</code>, <code>Flask</code>,
                                    <code>Bootstrap</code></li>
                                <li>Linux：<code>Ubuntu</code>, <code>CentOS</code>, <code>Redhet</code></li>
                                <li>服务器：<code>Nginx</code></li>
                                <li>数据库：<code>MySQL</code>, <code>Redis</code>, <code>MongoDB</code></li>
                                <li>设计：<code>Photoshop</code></li>
                            </ul>
                        </div>
                    </div>

                </article>
            </div>
        </div>
    </div>

{% endblock content %}
